### Run the copy of our database functions

In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

| biginteger type of id      | autoincrement type of id |
| ----------- | ----------- |
| <pre>m = DiscordUser<br>e = DiscordEmote<br>g = DiscordGuilds<br>l = LeagueAccount<br>d = DotaAccount<br>a = AFKNote<br>s = mygamerdata</pre>      | <pre>r = RemindersNote<br>t = ToDoNote<br>w = WarningData<br>u = MuteData<br>c = ChannelsAssignmentData<br>sr = serverrules<br>rr = realrule<br>stg = tagsdb</pre>          |

In [2]:
# %run ./utils/database.py
from utils import database as db
import pandas as pd
def get_df(dbclass):
    return pd.read_sql_table(dbclass.__tablename__, db.engine, index_col='id')

### Now our draft things

In [86]:
df = get_df(db.m)
df

,inlvl,exp,cur,rep,timezone,bdate,msg_count,lastseen,name,can_make_tags
id,,,,,,,,,,
106519402735755264,1,11,0,0,0.0,NaT,74,2022-04-18 09:39:27.138420,Nami,True
125701430274162688,1,1,0,0,0.0,NaT,36,2022-04-18 09:39:27.138420,2hu,True
153910485425586176,1,0,0,0,0.0,NaT,0,2022-04-18 09:39:27.139422,Tyrvana,True
165146318954692608,1,4,0,0,0.0,NaT,0,2022-04-18 09:39:27.138420,StoneBryn,True
183707605032501248,1,0,0,0,0.0,NaT,0,2022-04-18 09:39:27.138420,Will,True
...,...,...,...,...,...,...,...,...,...,...
508206739511050240,1,1974,0,0,-4.0,1900-06-22,1330,2022-04-21 00:19:24.209491,T1mbits,True
201308763645280258,1,274,0,0,0.0,NaT,3523,2022-05-13 17:25:07.666487,WAKE ME,True
88271000176726016,1,1484,0,7,0.0,NaT,3760,2022-04-18 09:39:27.139422,rerz,True
301776664441126923,1,789,0,5,5.5,1999-10-19,2568,2022-05-04 14:50:31.390600,ðŸŒ¸StoneNirðŸŒ¸,True
209186914119450634,1,72,0,0,0.0,NaT,155,2022-04-18 09:39:27.139422,KamiTsune,True

In [6]:
print(sum(get_value(e, 869827100926951465, 'month_array')))

1

In [ ]:
"""
for index, row in df.iterrows():
    value = get_value(e, index, 'month_array')
    df.loc[index, 'month_array'] = value
"""

In [7]:
remove_row(e, 869827100926951465)

In [5]:
with db.session_scope() as ses:
    for row in ses.query(db.sr):
        row.id = 0

In [2]:
db.tg.__table__.drop(db.engine)

In [5]:
def add_column(enginex, table_name, columnx):
    column_name = columnx.compile(dialect=enginex.dialect)
    column_type = columnx.type.compile(enginex.dialect)
    #column_default = column.default.arg
    enginex.execute(f'ALTER TABLE "{table_name}" ADD COLUMN {column_name} {column_type}') #DEFAULT #{column_default}')

column = db.Column('can_make_tags', db.Boolean, default=True)
add_column(db.engine, 'GuildMembers', column)

In [11]:
def drop_column(enginex, table_name, column_name):
    enginex.execute(f'ALTER TABLE "{table_name}" DROP COLUMN {column_name}')

drop_column(engine, 'GuildMembers', 'name')

In [ ]:
# options to see the whole table 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
# option to reset these things
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.width')
pd.reset_option('display.max_colwidth')